<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto VUE web components | Garrido</title>
</head>

<body>
    <div id="app">
        <div class="table-container" v-for="(table, t) in tables">
            <table-component :employers="table" :title="table_prop[t].title" :background="table_prop[t].background" :font_size="table_prop[t].font_size"></table-component>
        </div>
    </div>
</body>
<script type="module" src="app.js" defer></script>

</html>